<div class="card">
  <div class="card__image">
    {% if pattern_lab %}
      {{ image|raw }}
    {% else %}
      {{ image }}
    {% endif %}
  </div>
  <div class="card__header">
    {{ header }}
  </div>
  <div class="card__copy">
    {{ copy }}
  </div>
</div>