<div class="card">
  <div class="card-image">
    <img src="{{ img_src }}" alt="{{ img_alt }}">
  </div>
  <div class="card-header">
    {{ header }}
  </div>
  <div class="card-copy">
    {% block copy %}
      <p>{{ copy }}</p>
    {% endblock %}
  </div>
</div>