// Color definitions
$dark-gray: #333 !default;
$medium-gray: #999 !default;
$light-gray: #DDD !default;

// Base colors.
$base-background-color: white !default;
$base-font-color: $dark-gray !default;
$base-border-color: gainsboro !default;
$base-accent-color: #477DCA !default;
$base-link-color: $base-accent-color !default;
$action-color: #477DCA !default;

// Table colors.
$table-border-color: $base-border-color;
$table-background: $base-background-color;
$table-header-background: lighten($table-background, 10);
$table-hover-background: darken($table-background, 2);
$table-stripe-background: darken($table-background, 4);
$table-stripe-background-hover: darken($table-stripe-background, 5);

// Tasks colors.
$tab-link-color: $dark-gray;
$tab-active-background: $base-background-color;
$tab-inactive-color: $base-background-color;
$tab-inactive-hover-color: silver;

// Messages colors.
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

// Breadcrumb colors.
$breadcrumb-border-color: $base-border-color;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: $base-background-color;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $medium-gray;
$breadcrumb-color-hover: $action-color;
$breadcrumb-color-active: $breadcrumb-color;

// Flexbox colors.
$flex-box-border-color: $light-gray;
$flex-box-background: lighten($light-gray, 10%);
$flex-box-color: transparentize($base-font-color, 0.3);
$flex-box-top-colors:
        tomato,
        #72BFBF,
        #92B1E3,
        #E3D743,
        #CCC,
        #F6C05C;

// Footer colors.
$footer-background: desaturate(darken($base-accent-color, 20%), 30%);
$footer-color: white;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.35);

// Hero colors.
$hero-color: white;