<li class="bullet">
  <div class="bullet-icon bullet-icon-1">
    {#<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">#}
  </div>
  <div class="bullet-content">
    <h2>{{ header }}</h2>
    {{ content }}
  </div>
</li>