<a href="javascript:void(0)" class="flex-box">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
  <h1 class="flex-title">Flex Box Item</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.</p>
</a>