<div class="flex-boxes">
  {% block items %}
    {% include "@organisms/flex-boxes/_flex-box-big.twig" with { image: image, title: title, copy: copy } %}
    {% include "@organisms/flex-boxes/_flex-box.twig" with { image: image, title: title, copy: copy } %}
    {% include "@organisms/flex-boxes/_flex-box.twig" with { image: image, title: title, copy: copy } %}
    {% include "@organisms/flex-boxes/_flex-box-big.twig" with { image: image, title: title, copy: copy } %}
    {% include "@organisms/flex-boxes/_flex-box.twig" with { image: image, title: title, copy: copy } %}
    {% include "@organisms/flex-boxes/_flex-box.twig" with { image: image, title: title, copy: copy } %}
  {% endblock %}
</div>