<div class="flex-boxes">
  {# Redundant with {} is needed below to prevent errors with pattern generation #}
  {% include "@organisms/flex-boxes/_flex-box-big.twig" with {} %}
  {% include "@organisms/flex-boxes/_flex-box.twig" with {} %}
  {% include "@organisms/flex-boxes/_flex-box.twig" with {} %}
  {% include "@organisms/flex-boxes/_flex-box-big.twig" with {} %}
  {% include "@organisms/flex-boxes/_flex-box.twig" with {} %}
  {% include "@organisms/flex-boxes/_flex-box.twig" with {} %}
</div>